

#sota_de_diamantes{
    position: absolute;
    z-index: 2;
    top: 97px;
    left: 20px;
}

#reina_de_diamantes{
    position: absolute;
    z-index: 3;
    top: 110px;
    left: 36px;
}

#rey_de_diamantes{
    position: absolute;
    z-index: 4;
    top: 125px;
    left: 50px;
}

#as_de_diamantes{
    position: absolute;
    z-index: 5;
    top: 140px;
    left: 66px;
}
